<template>
<div style="display: inline-table">
  <div class="board" style="display:table-cell">
    <div style="display:inline-block" class="rowLoop" :key=i v-for='i in 8'>
      <div :key='j' v-for='j in 8'>
        <Cell :ref="String(i)+String(j)" @mouseover.native="hover(i,j)" @click.native="clickCell(i,j)" />
      </div>
    </div>
    <button :class="[gameStart ? disappear : endTurnAiTurn ? disappear : button]" @click='endTurn()'>End Turn</button>
  </div>
  <div style="padding-left:100px; display: table-cell; vertical-align:middle">
    <div :class="[iconClicked ? button : disappear]">
      <button @click='showMovementPossibilities(iconXPosition,iconYPosition)'>
        Move
      </button>
      <button style='display:inline-block' @click='showAttackPossibilities(iconXPosition,iconYPosition)'>
        Attack
      </button>
    </div>
    <div class="sideScreen">
      <p id="stat1"></p>
      <p id="stat2"></p>
      <p id="stat3"></p>
      <p id="stat4"></p>
      <p id="stat5"></p>
      <p id="stat6"></p>
    </div>
    <div style="display:block; margin-top:40px" class="sideScreen">
      <p id="info"></p>
    </div>
  </div>
  <div :class="[gameStart ? disappear : button]" style="padding-left:100px; display: table-cell; vertical-align:middle">
    <div>
      <div :key='index' v-for='(message,index) in attackLog' style="border:1px solid black; padding:5px">
        {{message}}
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Cell from './Cell.vue'
export default {
  name: 'Board',
  components: {
    Cell
  },
  props: {
    setup: Array,
  },
  data: () => ({
    iconClicked: false,
    button: 'button',
    disappear: 'disappear',
    iconXPosition: null,
    iconYPosition: null,
    moveClicked: false,
    attackClicked: false,
    movementPossibilities:null,
    attackPossibilities:null,
    playerTurn:Math.random() >= 0.5,
    gameStart: true,
    isCellHighlighted:false,
    playerOneUnitsLeft:null,
    playerTwoUnitsLeft:null,
    multipleHitHighlightedPositions:null,
    singlePlayer:true,
    endTurnAiTurn:false,
    playerPieces:null,
    AiPieces:null,
    attackLog:[]
  }),
  watch: {
    setup: function (newVal) {
      this.playerPieces=[]
      this.AiPieces=[]
      for(let i=0;i<newVal.length;i++)
      {
        this.$refs[newVal[i][0]][0].initialiseCell(newVal[i][1],newVal[i][2])
        if(newVal[i][2])
        {
          this.playerPieces.push({xPosition:Number(newVal[i][0].charAt(0)),yPosition:Number(newVal[i][0].charAt(1))})
        }
        else {
          this.AiPieces.push({xPosition:Number(newVal[i][0].charAt(0)),yPosition:Number(newVal[i][0].charAt(1))})
        }
      }
      this.playerOneUnitsLeft=newVal.length/2
      this.playerTwoUnitsLeft=newVal.length/2
      if(this.setup.length==4)
      {
        this.sayPlayerTurn()
        this.$nextTick(function () {
          if(!this.playerTurn)
          {
            this.endTurnAiTurn=true
            this.AiTurn()
          }
        })
      }
    },
  },
  methods: {
    hover: function(i,j) {
      this.showStats(i,j)
      if(this.attackClicked && this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().archetype.name=='Wizard')
      {
        this.multipleHitHighlightedPositions=this.highlightAttackShape(i,j)
      }
    },
    getCellInfo: function(i,j) {
      return this.$refs[String(i)+String(j)][0].cellInfo()
    },
    sayPlayerTurn: function() {
      if(this.playerTurn)
      {
        this.showMessage("Red Player's Turn")
      }
      else {
        this.showMessage("Blue Player's Turn")
      }
    },
    showStats: function(i,j,menuInfo=null) {
      let info = null
      if(menuInfo)
      {
        info = menuInfo
      }
      else {
        info=this.$refs[String(i)+String(j)][0].cellInfo()
      }
      for(let i=0;i<6;i++)
      {
        if (info)
        {
          document.getElementById('stat'+(i+1)).innerHTML=info[i]
        }
        else {
          document.getElementById('stat'+(i+1)).innerHTML=""
        }
      }
    },
    showMessage: function (msg) {
      document.getElementById('info').innerHTML=msg
    },
    storeIconPositions: function (i,j) {
      this.iconXPosition=i
      this.iconYPosition=j
    },
    clickCell: function (i,j) {
      if(!this.gameStart)
      {
        this.sayPlayerTurn()
      }
      if(this.gameStart)
      {
        this.storeIconPositions(i,j)
      }
      else if(!this.playerTurn && this.singlePlayer)
      {return}
      else if (!this.moveClicked && !this.attackClicked)
      {
        if(this.isCellHighlighted && this.$refs[String(i)+String(j)][0].cellInfo())
        {
          if(this.$refs[String(i)+String(j)][0].getInfoData().archetype.player==this.playerTurn && (i!=this.iconXPosition||j!=this.iconYPosition))
          {
            this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].changeCellStyle('border:1px solid black')
            this.iconClicked=!this.iconClicked
          }
        }
        this.highlightCell(i,j)
        this.storeIconPositions(i,j)
      }
      else if (this.moveClicked)
      {
        this.move(i,j)
      }
      else if (this.attackClicked)
      {
        this.attack(i,j)
      }
    },
    resetMove: function () {
      if(this.movementPossibilities)
      {
        for(let k=0;k<this.movementPossibilities.length;k++)
        {
          if(this.iconXPosition!=this.movementPossibilities[k].xPosition || this.iconYPosition!=this.movementPossibilities[k].yPosition)
          {
            this.$refs[String(this.movementPossibilities[k].xPosition)+String(this.movementPossibilities[k].yPosition)][0].changeCellStyle('border:1px solid black')
          }
        }
        this.moveClicked=false
      }
    },
    resetAttack: function () {
        if(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().archetype.name=="Wizard" && this.multipleHitHighlightedPositions)
        {
          this.resetMultipleHitHighlighting()
        }
        else if(this.attackPossibilities)
        {
          for(let k=0;k<this.attackPossibilities.length;k++)
          {
            if(this.iconXPosition!=this.attackPossibilities[k][0].xPosition || this.iconYPosition!=this.attackPossibilities[k][0].yPosition)
            {
              this.$refs[String(this.attackPossibilities[k][0].xPosition)+String(this.attackPossibilities[k][0].yPosition)][0].changeCellStyle('border:1px solid black')
            }
          }
        }
        this.attackClicked=false
    },
    attack: function (i,j) {
        if(!this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().hasAttacked)
        {
          if(!(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().archetype.name=="Bishop"))
          {
            this.causeDamageLoss(i,j)
          }
          else {
            this.heal(i,j)
          }
          if(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().archetype.name=="Wizard" &&(this.singlePlayer && this.playerTurn))
          {
            this.resetMultipleHitHighlighting()
          }
          this.iconClicked=false
        }
        this.attackClicked=false
        this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].changeCellStyle('border:1px solid black')
        this.isCellHighlighted=false
    },
    highlightCell: function (i,j) {
      if(this.$refs[String(i)+String(j)][0].cellInfo())
      {
        if(this.$refs[String(i)+String(j)][0].getInfoData().archetype.player==this.playerTurn)
        {
          this.iconClicked=!this.iconClicked
          if(this.$refs[String(i)+String(j)][0].getCellStyle()=='filter: brightness(150%)')
          {
            this.$refs[String(i)+String(j)][0].changeCellStyle('border:1px solid black')
            this.isCellHighlighted=false
          }
          else {
            this.$refs[String(i)+String(j)][0].changeCellStyle('filter: brightness(150%)')
            this.isCellHighlighted=true
            return
          }
        }
      }
      if(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getCellStyle()=='filter: brightness(150%)')
        {
          this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].changeCellStyle('border:1px solid black')
          this.isCellHighlighted=false
          this.iconClicked=!this.iconClicked
        }
    },
    showMovementPossibilities: function(iconXPosition,iconYPosition) {
      this.resetAttack()
      if(!this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().hasMoved &&
          !this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().hasAttacked)
      {
        this.movementPossibilities=this.$refs[String(iconXPosition)+String(iconYPosition)][0].move(iconXPosition,iconYPosition)
        for(let i=0;i<this.movementPossibilities.length;i++)
        {
          if(!this.$refs[String(this.movementPossibilities[i].xPosition)+String(this.movementPossibilities[i].yPosition)][0].cellInfo())
          {
            this.$refs[String(this.movementPossibilities[i].xPosition)+String(this.movementPossibilities[i].yPosition)][0].changeCellStyle('filter: saturate(500%)')
          }
        }
        this.moveClicked=true
    }
    },
    showAttackPossibilities: function(iconXPosition,iconYPosition) {
      this.resetMove()
      let cellComponentData=this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0]
      if(!cellComponentData.getInfoData().hasAttacked)
      {
        this.attackPossibilities=cellComponentData.attack(iconXPosition,iconYPosition)
        if(cellComponentData.getInfoData().archetype.name=='Bishop')
        {
          this.showPossibleAttackTargets(true)
        }
        else if (!(cellComponentData.getInfoData().archetype.name=='Wizard') || this.endTurnAiTurn)
        {
          this.showPossibleAttackTargets(false)
        }
        this.attackClicked=true
    }
    },
    showPossibleAttackTargets: function(HealingTargets)
    {
      for(let i=0;i<this.attackPossibilities.length;i++)
      {
        for (let j=0;j<this.attackPossibilities[i].length;j++)
        {
          let cellComponentData=this.$refs[String(this.attackPossibilities[i][j].xPosition)+String(this.attackPossibilities[i][j].yPosition)][0]
          if(cellComponentData.cellInfo())
          {
            if(HealingTargets)
            {
              if (cellComponentData.getInfoData().archetype.player==this.playerTurn && (this.attackPossibilities[i][j].xPosition!=this.iconXPosition || this.attackPossibilities[i][j].yPosition!=this.iconYPosition))
              {
                cellComponentData.changeCellStyle('filter:hue-rotate(120deg)')
              }
            }
            else {
              if (cellComponentData.getInfoData().archetype.player!=this.playerTurn)
              {
                cellComponentData.changeCellStyle('filter:hue-rotate(200deg)')
              }
            }
        }
      }
    }
  },
    move: function (i,j) {
      if(!this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().hasMoved)
      {
        for(let k=0;k<this.movementPossibilities.length;k++)
        {
          if((this.movementPossibilities[k].xPosition==i && this.movementPossibilities[k].yPosition==j) && !this.$refs[String(this.movementPossibilities[k].xPosition)+String(this.movementPossibilities[k].yPosition)][0].cellInfo())
          {
            this.$refs[String(i)+String(j)][0].changeCellData(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData(),this.movementPossibilities[k].movesUsed)
            this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].removeIcon()
            this.playerPieces=this.updatePiecesArray(this.iconXPosition,this.iconYPosition,i,j,this.playerPieces)
          }
          this.$refs[String(this.movementPossibilities[k].xPosition)+String(this.movementPossibilities[k].yPosition)][0].changeCellStyle('border:1px solid black')
          this.isCellHighlighted=false
        }
        this.iconClicked=false
    }
    this.moveClicked=false
    },
    causeDamageLoss: function (i,j) {
      for(let k=0;k<this.attackPossibilities.length;k++)
      {
        this.$refs[String(this.attackPossibilities[k][0].xPosition)+String(this.attackPossibilities[k][0].yPosition)][0].changeCellStyle('border:1px solid black')
        if(this.attackPossibilities[k][0].xPosition==i && this.attackPossibilities[k][0].yPosition==j)
        {
          for(let l=0;l<this.attackPossibilities[k].length;l++)
          {
            let cellComponentData=this.$refs[String(this.attackPossibilities[k][l].xPosition)+String(this.attackPossibilities[k][l].yPosition)][0]
            if(cellComponentData.cellInfo())
            {
              let name = cellComponentData.getInfoData().archetype.name
              if(cellComponentData.getInfoData().archetype.player!=this.playerTurn)
              {
                cellComponentData.changeCellStyle('border:1px solid black')
                let healthLost=cellComponentData.inflictDamage(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData())
                this.addToLog(name+" has lost "+String(healthLost)+" health.")
                if(cellComponentData.getInfoData().archetype.health<=0)
                {
                  if(cellComponentData.getInfoData().archetype.player)
                  {
                    this.playerOneUnitsLeft-=1
                    this.updatePiecesArray(this.attackPossibilities[k][l].xPosition,this.attackPossibilities[k][l].yPosition,0,0,this.playerPieces,true)
                  }
                  else {
                    this.playerTwoUnitsLeft-=1
                    this.updatePiecesArray(this.attackPossibilities[k][l].xPosition,this.attackPossibilities[k][l].yPosition,0,0,this.AiPieces,true)
                  }
                  cellComponentData.removeIcon()
                  this.addToLog(name+" has died.")
                  if(this.playerOneUnitsLeft==0 || this.playerTwoUnitsLeft==0)
                  {
                    this.endGame()
                  }
                }
                this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].changeHasAttacked()
              }
            }
          }
        }
      }
      this.isCellHighlighted=false
    },
    heal:function(i,j) {
      for(let k=0;k<this.attackPossibilities.length;k++)
      {
        this.$refs[String(this.attackPossibilities[k][0].xPosition)+String(this.attackPossibilities[k][0].yPosition)][0].changeCellStyle('border:1px solid black')
        if(this.attackPossibilities[k][0].xPosition==i && this.attackPossibilities[k][0].yPosition==j)
        {
          for(let l=0;l<this.attackPossibilities[k].length;l++)
          {
            let cellComponentData=this.$refs[String(this.attackPossibilities[k][l].xPosition)+String(this.attackPossibilities[k][l].yPosition)][0]
            if(cellComponentData.cellInfo())
            {
              if((cellComponentData.getInfoData().archetype.player==this.playerTurn && (this.attackPossibilities[k][l].xPosition!=this.iconXPosition || this.attackPossibilities[k][l].yPosition!=this.iconYPosition)))
              {
                cellComponentData.changeCellStyle('border:1px solid black')
                let healthGained = cellComponentData.heal(this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData())
                if (healthGained>0)
                {
                  this.addToLog(name+" has gained "+String(healthGained)+" health.")
                  this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].changeHasAttacked()
                }
                else {
                  this.addToLog(name+" is at full health.")
                }
              }
            }
          }
        }
      }
      this.isCellHighlighted=false
    },
    endTurn: function () {
      this.playerTurn=!this.playerTurn
      this.sayPlayerTurn()
      this.iconClicked=false
      for(let i=1;i<9;i++)
      {
        for(let j=1;j<9;j++)
        {
          this.$refs[String(i)+String(j)][0].changeCellStyle('border:1px solid black')
          this.isCellHighlighted=false
          if(this.$refs[String(i)+String(j)][0].cellInfo())
          {
            this.$refs[String(i)+String(j)][0].endTurn()
          }
        }
      }
      if(this.singlePlayer)
      {
        this.endTurnAiTurn=true
        this.AiTurn()
        this.sayPlayerTurn()
        if(this.playerOneUnitsLeft==0 || this.playerTwoUnitsLeft==0)
        {
          this.endGame()
        }
      }
    },
    endGame: function () {
      if (this.playerOneUnitsLeft <= 0) {
        document.getElementById("info").innerHTML = "Player 2 wins. You can now bathe in the blood of your former enemy."

      } else if (this.playerTwoUnitsLeft <= 0) {
        document.getElementById("info").innerHTML = "Player 1 wins. You can now bathe in the blood of your former enemy."
      }
    },
    highlightAttackShape: function (i,j) {
      let plusShape=[[i,j],[i,j-1],[i-1,j],[i,j+1],[i+1,j]]
      if(this.multipleHitHighlightedPositions)
      {
        this.resetMultipleHitHighlighting()
      }
      for(let k=0;k<plusShape.length;k++)
      {
        for(let l=0;l<this.attackPossibilities.length;l++)
        {
          for(let m=0;m<this.attackPossibilities[l].length;m++)
          {
            if((this.attackPossibilities[l][m].xPosition==plusShape[k][0] && this.attackPossibilities[l][m].yPosition==plusShape[k][1]))
            {
              if((Math.abs(this.iconXPosition - plusShape[0][0]) + Math.abs(this.iconYPosition - plusShape[0][1])) <= this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].getInfoData().archetype.range &&
              this.$refs[String(this.attackPossibilities[l][m].xPosition)+String(this.attackPossibilities[l][m].yPosition)][0].cellInfo())
              {
                if (this.$refs[String(this.attackPossibilities[l][m].xPosition)+String(this.attackPossibilities[l][m].yPosition)][0].getInfoData().archetype.player!=this.playerTurn)
                {
                  this.$refs[String(this.attackPossibilities[l][m].xPosition)+String(this.attackPossibilities[l][m].yPosition)][0].changeCellStyle('filter:hue-rotate(200deg)')
                }
              }
            }
          }
        }
        if((plusShape[k][0]>0 && plusShape[k][0]<9)&&(plusShape[k][1]>0 && plusShape[k][1]<9))
        {
          if(!(this.$refs[String(plusShape[k][0])+String(plusShape[k][1])][0].getCellStyle()=='filter:hue-rotate(200deg)' || this.$refs[String(plusShape[k][0])+String(plusShape[k][1])][0].getCellStyle()=='filter: brightness(150%)'))
          {
            this.$refs[String(plusShape[k][0])+String(plusShape[k][1])][0].changeCellStyle('filter: saturate(500%)')
          }
        }
      }
      return plusShape
    },
    resetMultipleHitHighlighting: function() {
      for(let k=0;k<this.multipleHitHighlightedPositions.length;k++)
      {
        if((this.multipleHitHighlightedPositions[k][0]>0 && this.multipleHitHighlightedPositions[k][0]<9) &&
        (this.multipleHitHighlightedPositions[k][1]>0 && this.multipleHitHighlightedPositions[k][1]<9))
        {
          if((this.$refs[String(this.multipleHitHighlightedPositions[k][0])+String(this.multipleHitHighlightedPositions[k][1])][0].getCellStyle()!='filter: brightness(150%)'))
          {
            this.$refs[String(this.multipleHitHighlightedPositions[k][0])+String(this.multipleHitHighlightedPositions[k][1])][0].changeCellStyle('border:1px solid black')
          }
        }
      }
    },
    AiTurn: function () {
      for(let i=0;i<this.AiPieces.length;i++)
      {
        this.AiAttack(i)
        let cellComponentData=this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0]
        if(!cellComponentData.getInfoData().hasAttacked)
        {
          let closestPiece=this.findClosestPiece(this.AiPieces[i],this.playerPieces)
          let distances=null
          if(cellComponentData.getInfoData().archetype.name=='Archer')
          {
            distances=this.archerDistance(this.AiPieces[i].xPosition,this.AiPieces[i].yPosition,closestPiece.xPosition,closestPiece.yPosition)
          }
          else {
            distances=this.search(this.AiPieces[i].xPosition,this.AiPieces[i].yPosition,closestPiece.xPosition,closestPiece.yPosition)
          }
          for(let j=0;j<Object.keys(distances).length;j++)
          {
            let move = null
            if(cellComponentData.getInfoData().archetype.name!="Archer")
            {
              move=this.getKeyByValue(distances,
                                          Math.min(cellComponentData.getInfoData().archetype.movement,
                                                    Math.abs(this.AiPieces[i].xPosition-closestPiece.xPosition)+
                                                    Math.abs(this.AiPieces[i].yPosition-closestPiece.yPosition)-1))
            }
            else {
              move=this.getKeyByValue(distances,cellComponentData.getInfoData().archetype.movement)
            }
            console.log(move)
          distances[move]=10000
          if(move)
          {
          if(!this.$refs[move.charAt(0)+move.charAt(1)][0].cellInfo())
          {
            this.$refs[move.charAt(0)+move.charAt(1)][0].changeAiCellData(cellComponentData.getInfoData())
            cellComponentData.removeIcon()
            this.AiPieces=this.updatePiecesArray(this.AiPieces[i].xPosition,this.AiPieces[i].yPosition,Number(move.charAt(0)),Number(move.charAt(1)),this.AiPieces)
            break;
          }
        }
        }
          this.AiAttack(i)
        }
      }
      this.playerTurn=!this.playerTurn
      this.endTurnAiTurn=false
    },
  getKeyByValue: function(object, value) {
  return Object.keys(object).find(key => object[key] === value);
},
findClosestPiece: function (piece,pieceArray) {
  let closestPiece={xPosition:null,yPosition:null,distance:100000}
  for(let i=0;i<pieceArray.length;i++)
  {
    if(Math.abs(piece.xPosition-pieceArray[i].xPosition)+Math.abs(piece.yPosition-pieceArray[i].yPosition)<closestPiece.distance)
    {
      closestPiece.xPosition=pieceArray[i].xPosition
      closestPiece.yPosition=pieceArray[i].yPosition
      closestPiece.distance=Math.abs(piece.xPosition-pieceArray[i].xPosition)+Math.abs(piece.yPosition-pieceArray[i].yPosition)
    }
  }
  return closestPiece
},
AiAttack: function(i) {
  this.iconXPosition=this.AiPieces[i].xPosition
  this.iconYPosition=this.AiPieces[i].yPosition
  this.attackPossibilities=this.$refs[String(this.iconXPosition)+String(this.iconYPosition)][0].attack(this.AiPieces[i].xPosition,this.AiPieces[i].yPosition)
  for(let j=0;j<this.playerPieces.length;j++)
  {
    this.attack(this.playerPieces[j].xPosition,this.playerPieces[j].yPosition)
  }
},
search: function(startXPosition,startYPosition,endXPosition,endYPosition) {
  let searchedSpaces={}
  let xRange=this.range(startXPosition,endXPosition)
  let yRange=this.range(startYPosition,endYPosition)
  for(let i=0;i<xRange.length;i++)
  {
    for(let j=0;j<yRange.length;j++)
    {
      searchedSpaces[String(xRange[i])+String(yRange[j])]=Math.abs(xRange[i]-startXPosition)+Math.abs(yRange[j]-startYPosition)
    }
  }
  return searchedSpaces
},
range: function(start,end) {
  let result=[]
  if(start<end)
  {
    for(let i=start;i<end+1;i++)
    {
      result.push(i)
    }
  }
  else if(start>end) {
    for(let i=start;i>end-1;i-=1)
    {
      result.push(i)
    }
  }
  else {
    result.push(start)
  }
  return result
},
updatePiecesArray: function(oldXPosition,oldYPosition,newXPosition,newYPosition,piecesList,dead=null) {
  for(let i=0;i<piecesList.length;i++)
  {
    if(piecesList[i].xPosition===oldXPosition && piecesList[i].yPosition===oldYPosition)
    {
      if(dead)
      {
        piecesList.splice(i,1)
      }
      else {
        piecesList[i].xPosition=newXPosition
        piecesList[i].yPosition=newYPosition
      }
      return piecesList
    }
  }
},
archerDistance: function(AiPieceXPosition,AiPieceYPosition,closestPieceXPosition,closestPieceYPosition)
{
  let potentialDistances=[]
  for(let i = closestPieceXPosition-3;i<closestPieceXPosition+3;i++)
  {
    for(let j=closestPieceYPosition-3;j<closestPieceYPosition+3;j++)
    {
      if(Math.abs(i-closestPieceXPosition)+Math.abs(j-closestPieceYPosition)==3)
      {
        potentialDistances.push({xPosition:i,yPosition:j})
      }
    }
  }
  let closestDistance=this.findClosestPiece({xPosition:AiPieceXPosition,yPosition:AiPieceYPosition},potentialDistances)
  return this.search(AiPieceXPosition,AiPieceYPosition,closestDistance.xPosition,closestDistance.yPosition)
},
sleep: function(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
},
addToLog: function(msg) {
  if(this.attackLog==10)
  {
    this.attackLog.shift()
    this.attackLog.push(msg)
  }
  else {
    this.attackLog.push(msg)
  }
},
  }
}

</script>

<style>
.button {
  margin-bottom:40px;
  vertical-align: middle;
}
.disappear {
  display: none;
}
</style>
