<template>
  <div :style='this.character.style' class="cellImgWrapper">
  <div>
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" :src="require('../assets/' + info.image + '.png')">
  </div>
  </div>
</template>

<script>
import Piece from './Piece.vue'
export default {
  extends: Piece,
  name: 'Cavalry',
  data: () => ({
    info: {
      image: "horse-head",
      archetype: {
        name: 'Cavalry',
        health: 60,
        movement: 3,
        player: null,
        physicalDefence: 8,
        magicalDefence: 6,
        range: 1,
        damage: 25,
        movementToken: 3,
        damageType: 'phys',
      },
      hasMoved: false,
      style: 'border:1px solid black',
      hasAttacked: false
    },
    baseHP: 60
  }),
  methods: {
    getInfoData: function () {
      if(this.info.hasMoved)
      {
        this.info.archetype.damage=35
      }
      else {
        this.info.archetype.damage=25
      }
      return this.info
    }
  },
  mounted: function () {
    if (!this.character.player)
    {
      this.info.image='horse-head-blue'
      this.info.archetype.player=false
    }
    else {
      this.info.archetype.player=true
    }
  }
}
</script>

<style>
.cellImgWrapper {
  position: relative;
  height: 82.5px;
  width: 82.5px
}

.icon {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px
}
</style>
