<template>
  <div>
<div v-show="piece=='Wizard'">
  <Wizard :character = 'cell' ref='Wizard' :key='forRerender' />
  <p style="display:none" id='hi'> 1 </p>
</div>
<div v-show="piece=='Soldier'">
  <Soldier :character = 'cell' ref='Soldier' :key='forRerender' />
</div>
<div v-show="piece=='Archer'">
  <Archer :character = 'cell' ref='Archer' :key='forRerender' />
</div>
<div v-show="piece=='Cavalry'">
  <Cavalry :character = 'cell' ref='Cavalry' :key='forRerender' />
</div>
<div v-show="piece=='Bishop'">
  <Bishop :character = 'cell' ref='Bishop' :key='forRerender' />
</div>
<div v-show="piece=='Piece'">
  <Piece :character='cell' ref='Piece' :key='forRerender' />
  <p style='display:none' id='hi'> 6 </p>
</div>
</div>
</template>

<script>
import Wizard from './Wizard.vue'
import Piece from './Piece.vue'
import Soldier from './Soldier.vue'
import Cavalry from './Cavalry.vue'
import Archer from './Archer.vue'
import Bishop from './Bishop.vue'
export default {
  name: 'Cell',
  components: {
    Wizard,
    Piece,
    Soldier,
    Cavalry,
    Archer,
    Bishop
  },
  data: () => ({
    piece: 'Piece',
    cell: {player:true,style:'border:1px solid black'},
    oldInfo:'default',
    newInfo: 'default',
    forRerender:0,
  }),
  updated: function () {
    if(this.newInfo!=this.oldInfo)
    {
      this.$refs[this.piece].info=this.newInfo
      this.oldInfo=this.newInfo
    }
  },
  methods: {
    initialiseCell: function (pieceName,playerTurn) {
      this.cell.player = playerTurn
      this.piece = pieceName
      this.forceRerender()
    },
    cellInfo: function() {
      return this.$refs[this.piece].cellInfo()
    },
    move: function (iconXPosition,iconYPosition) {
      return this.$refs[this.piece].move(iconXPosition,iconYPosition)
    },
    changeCellData: function (info,chosenMovement) {
      info.archetype.movementToken-=chosenMovement
      if(info.archetype.movementToken==0)
      {
        info.hasMoved=true
      }
      this.newInfo=info
      this.piece = info.archetype.name
    },
    changeAiCellData: function (info) {
      info.hasMoved=true
      this.newInfo=info
      this.piece = info.archetype.name
    },
    removeIcon: function () {
      this.piece='Piece'
    },
    getInfoData: function () {
      return this.$refs[this.piece].getInfoData()
    },
    attack: function (iconXPosition,iconYPosition) {
      return this.$refs[this.piece].attack(iconXPosition,iconYPosition)
    },
    inflictDamage: function (info) {
      return this.$refs[this.piece].inflictDamage(info)
    },
    changeHasAttacked: function () {
      this.$refs[this.piece].changeHasAttacked()
    },
    heal: function (info) {
      return this.$refs[this.piece].heal(info)
    },
    forceRerender: function () {
      this.forRerender+=1
    },
    endTurn: function () {
      this.$refs[this.piece].endTurn()
    },
    highlightCell: function () {
      if(this.cell.style=='border:1px solid black')
      {
        this.cell.style='filter: brightness(150%)'
      }
      else {
        this.cell.style='border:1px solid black'
      }
    },
    changeCellStyle: function (style) {
      this.cell.style=style
    },
    getCellStyle: function () {
      return this.cell.style
    }
  },
}
</script>
