<template>
  <div v-if='!icons'>
    Please wait
  </div>
<div v-else>
  <div :key='i.id' v-for='i in icons'>
<Cell :ref='i.name' @click.native='chooseCharacter(i.name)' @mouseover.native='getCellInfo(i.name)' />
  </div>
</div>
</template>

<script>
import Cell from './Cell.vue'
export default {
  name: 'Menu',
  components: {
    Cell
  },
  props: {
    player: Boolean
  },
  data: () => ({
    icons: [
      {
        id:0,
        name: 'Wizard',
        player: null,
        },
        {
          id:1,
          name: 'Soldier',
          player: null,
        },
        {
          id:2,
          name: 'Archer',
          player: null,
        },
        {
          id:3,
          name: 'Bishop',
          player: null,
        },
        {
          id:4,
          name: 'Cavalry',
          player: null,
        }
      ],
      chosenCharacter: null,
      cellInfo:null
  }),
  methods: {
    chooseCharacter: function (nameChosen) {
      this.chosenCharacter=nameChosen
    },
    changePlayer: function (player) {
      for(let i=0;i<this.icons.length;i++)
      {
        this.icons[i].player=player
        this.$refs[this.icons[i].name][0].initialiseCell(this.icons[i].name,player)
      }
    },
    highlightCell: function (name) {
      try {
      this.$refs[name][0].highlightCell()
    }
    catch(e) {return}
  },
  getCellInfo: function (name) {
    this.cellInfo=this.$refs[name][0].cellInfo()
  },
  AiPickUnit: function () {
    let nameAndPosition={name:'Bishop'}
    while(nameAndPosition.name=='Bishop')
    {
      nameAndPosition.name=this.icons[Math.floor(Math.random()*5)].name
    }
    nameAndPosition.yPosition=Math.floor(Math.random()*(8-5)+5)
    nameAndPosition.xPosition=Math.floor(Math.random()*8+1)
    return nameAndPosition
  }
  },
  mounted: function () {
    this.changePlayer(this.player)
  },
  watch: {
    player: function (newVal) {
      this.changePlayer(newVal)
    }
  },
}
</script>
