<template>
  <div :style='this.character.style' class="cellImgWrapper">
    <div>
      <img class="grassImg" src="../assets/grass.png">
    </div>
  </div>
</template>

<script>

export default {
  name: 'Piece',
  props: {
    character: Object,
  },
  data: () => ({
    info:null
  }),
  methods: {
    cellInfo: function () {
      if (this.info)
      {
        return [this.info.archetype.name,'Health: '+this.info.archetype.health,'Physical Defence: '+this.info.archetype.physicalDefence,'Magical Defence: '+this.info.archetype.magicalDefence,'Attack Range: '+this.info.archetype.range,'Attack Damage: '+this.info.archetype.damage,this.info.archetype]
      }
      return null
    },
    getInfoData: function () {
      return this.info
    },
    move: function (iconXPosition,iconYPosition) {
      let movementPossibilities=[]
      for (let i = iconXPosition - this.info.archetype.movementToken; i < iconXPosition + this.info.archetype.movementToken + 1; i++) {
        for (let j = iconYPosition - this.info.archetype.movementToken; j < iconYPosition + this.info.archetype.movementToken + 1; j++) {
          if ((Math.abs(iconXPosition - i) + Math.abs(iconYPosition - j)) <= this.info.archetype.movementToken && ((0<i && i<9) && (0<j && j<9)))
          {
            movementPossibilities.push({xPosition:i,yPosition:j,movesUsed:Math.abs(iconXPosition - i) + Math.abs(iconYPosition - j)})
          }
        }
      }
      return movementPossibilities
    },
    attack: function (iconXPosition,iconYPosition) {
      let attackPossibilities=[]
      for (let i = iconXPosition - this.info.archetype.range; i < iconXPosition + this.info.archetype.range + 1; i++) {
        for (let j = iconYPosition - this.info.archetype.range; j < iconYPosition + this.info.archetype.range + 1; j++) {
          if ((Math.abs(iconXPosition - i) + Math.abs(iconYPosition - j)) <= this.info.archetype.range && ((0<i && i<9) && (0<j && j<9)))
          {
            attackPossibilities.push([{xPosition:i,yPosition:j}])
          }
        }
      }
      return attackPossibilities
    },
    inflictDamage: function(info) {
      let currentHealth=this.info.archetype.health
      if(info.archetype.damageType=='phys')
      {
        this.info.archetype.health-=info.archetype.damage-this.info.archetype.physicalDefence
      }
      else {
        this.info.archetype.health-=info.archetype.damage-this.info.archetype.magicalDefence
      }
      return currentHealth-this.info.archetype.health
    },
    changeHasAttacked: function () {
      this.info.hasAttacked=true
    },
    heal: function (info) {
      let currentHealth=this.info.archetype.health
      this.info.archetype.health=Math.min(this.baseHP,this.info.archetype.health+info.archetype.damage)
      return this.info.archetype.health-currentHealth
    },
    endTurn: function () {
      this.info.hasMoved=false
      this.info.hasAttacked=false
      this.info.archetype.movementToken=this.info.archetype.movement
    }
  }
}
</script>

<style>
.cellImgWrapper {
  position: relative;
  height: 82.5px;
  width: 82.5px;
}
.grassImg {
  height: 82.5px;
  width: 82.5px;
}
</style>
