<template>
  <div :style='this.character.style' class="cellImgWrapper">
  <div>
    <img class="grassImg" src="../assets/grass.png">
    <img class="icon" :src="require('../assets/' + info.image + '.png')">
  </div>
  </div>
</template>

<script>
import Piece from './Piece.vue'
export default {
  extends: Piece,
  name: 'Wizard',
  data: () => ({
    info: {
      image: "pointy-hat",
      archetype: {
        name: 'Wizard',
        health: 50,
        movement: 1,
        player: null,
        physicalDefence: 3,
        magicalDefence: 6,
        range: 2,
        damage: 22,
        damageType: 'mag',
        movementToken: 1
      },
      hasMoved: false,
      style: 'border:1px solid black',
      hasAttacked: false
    },
    baseHP: 50
  }),
  methods: {
    attack: function (iconXPosition,iconYPosition) {
      let attackPossibilities=[]
      for (let i = iconXPosition - this.info.archetype.range; i < iconXPosition + this.info.archetype.range + 1; i++) {
        for (let j = iconYPosition - this.info.archetype.range; j < iconYPosition + this.info.archetype.range + 1; j++) {
          if ((Math.abs(iconXPosition - i) + Math.abs(iconYPosition - j)) <= this.info.archetype.range && ((0<i && i<9) && (0<j && j<9)))
          {
            let plusShapeAttack = [{xPosition:i,yPosition:j}]
            let plusShape=[[i,j-1],[i-1,j],[i,j+1],[i+1,j]]
            for (let k=0;k<plusShape.length;k++)
            {
              if ((0<plusShape[k][0] && plusShape[k][0]<9) && (0<plusShape[k][1] && plusShape[k][1]<9))
              {
                plusShapeAttack.push({xPosition:plusShape[k][0],yPosition:plusShape[k][1]})
              }
            }
            attackPossibilities.push(plusShapeAttack)
          }
        }
      }
      return attackPossibilities
    }
  },
  mounted: function () {
    if (!this.character.player)
    {
      this.info.image='pointy-hat-blue'
      this.info.archetype.player=false
    }
    else {
      this.info.image='pointy-hat'
      this.info.archetype.player=true
    }
  },
}
</script>

<style>
.cellImgWrapper {
  position: relative;
  height: 82.5px;
  width: 82.5px
}

.icon {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px
}
</style>
