<template>
  <div>
  <div class='options' style='display:inline'>
  <button @click='playerGame(true)' :class="{disappear : !gameStart}" >SinglePlayer Game </button>
  <button style="margin-left:20px;" @click='playerGame(false)' :class='{disappear : !gameStart}' >MultiPlayer Game </button>
</div>
  <div id="app" style="display: inline-table">
    <div style="padding-right:50px; display: table-cell; vertical-align:middle">
  <Menu :class="[!gameStart ? disappear : sideScreen]" ref='menu' :player='playerTurn' @click.native='chooseCharacter()' @mouseover.native='showStats()' />
</div>
<Board :setup='piecesChosen' ref='board' @click.native='placeCharacter()' />
</div>
</div>
</template>

<script>
import Board from './components/Board.vue'
import Menu from './components/Menu.vue'
export default {
  name: 'app',
  components: {
    Board,
    Menu
  },
  data: () => ({
    playerTurn: true,
    pickingFromMenu: true,
    numberOfPiecesChosen:0,
    chosenPieceName: null,
    piecesChosen: [],
    gameStart:true,
    disappear: 'disappear',
    singlePlayer:true,
    sideScreen:'sideScreen'
  }),
  methods: {
    chooseCharacter: function() {
      let pieceName=this.$refs['menu'].chosenCharacter
      if(pieceName==this.chosenPieceName)
      {
        this.$refs['menu'].highlightCell(this.chosenPieceName)
        this.chosenPieceName=null
      }
      else {
        try {
          this.$refs['menu'].highlightCell(this.chosenPieceName)
        }
        catch(e) {}
        this.chosenPieceName=pieceName
        this.$refs['menu'].highlightCell(this.chosenPieceName)
      }
    },
    placeCharacter: function () {
      if(this.gameStart)
      {
        if(((this.playerTurn && this.$refs['board'].iconYPosition<5) || (!this.playerTurn && this.$refs['board'].iconYPosition>4)) && (this.chosenPieceName && (!this.$refs['board'].getCellInfo(this.$refs['board'].iconXPosition,this.$refs['board'].iconYPosition))))
        {
      this.piecesChosen.push([String(this.$refs['board'].iconXPosition)+String(this.$refs['board'].iconYPosition),this.chosenPieceName,this.playerTurn])
      this.numberOfPiecesChosen+=1
      if(this.numberOfPiecesChosen==4)
      {
        this.$refs['board'].gameStart=false
        this.gameStart=false
      }
      this.playerTurn=!this.playerTurn
      if(this.singlePlayer)
      {
        this.AiPickUnit()
        this.playerTurn=!this.playerTurn
      }
    }
    else if (this.chosenPieceName){
      this.$refs['board'].showMessage("Please choose space on your side (Top 4 rows for Player 1, bottom 4 rows for Player 2).")
    }
    }
  },
  showStats: function () {
    this.$refs['board'].showStats(0,0,this.$refs['menu'].cellInfo)
  },
  AiPickUnit: function () {
    let nameAndPosition = this.$refs['menu'].AiPickUnit()
    for(let i=0;i<this.piecesChosen.length;i++)
    {
      if(this.piecesChosen[i][0]==String(nameAndPosition.xPosition)+String(nameAndPosition.yPosition))
      {
        nameAndPosition = this.$refs['menu'].AiPickUnit()
      }
    }
    this.piecesChosen.push([String(nameAndPosition.xPosition)+String(nameAndPosition.yPosition),nameAndPosition.name,this.playerTurn])
    this.numberOfPiecesChosen+=1
    if(this.numberOfPiecesChosen==4)
    {
      this.$refs['board'].gameStart=false
      this.gameStart=false
      this.playerTurn=!this.playerTurn
    }
  },
  playerGame: function (bool) {
    if(bool)
    {
      this.$refs['board'].singlePlayer=true
    }
    else {
      this.$refs['board'].singlePlayer=false
    }
    let resetPieces=[]
    for(let i=0;i<this.piecesChosen.length;i++)
    {
      resetPieces.push([this.piecesChosen[i][0],'Piece',true])
    }
    this.piecesChosen=resetPieces
    this.numberOfPiecesChosen=0
    this.playerTurn=true
    this.singlePlayer=bool
    this.$nextTick(function () {
      this.piecesChosen=[]
    })
  },
  },
}
</script>

<style>
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.sideScreen {
  padding-left: 5px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid black;
},
.disappear {
  display: none;
}
.options {
  display:inline;
  position:absolute;
}
</style>
